{% form_theme form 'bootstrap_5_layout.html.twig' %}
{{ form_start(form) }}
    {{ form_row(form.productName) }}
    {{ form_row(form.productPrice) }}
    {{ form_row(form.productType) }}
    {{ form_row(form.tags) }}
    {% if form.options is defined %}
        {{ form_row(form.options) }}
    {% endif %}
    {{ form_widget(form) }}
<button class="btn btn-dark">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
